{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- my css -->
  <link rel="stylesheet" href="{% static 'taxreader/css/custom.css' %}">
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>

<!-- body -->

<body>
  <div class='container mb-5'>
    <div class='section shadow rounded mb-5 mt-3 bg-light'>
      <div class='row'>
        <div class='col text-center p-3'>
          <h1 class="display-3">Rotax</h1>
          <p>Rotax help you to find juridic informations about any company.</p>
          <a href='{% url "index" %}' class='mr-3'>Homepage</a>
          <a href='{% url "companies" %}' class='mr-3'>See all companies</a>
          <a href='{% url "all_responses" %}'>See raw responses</a>
        </div>
      </div>
    </div>

    {% for response in responses %}
    <div class="card mt-3">
        <div class="card-header">
          Date : {{response.date}}
        </div>
        <div class="card-body">
          <h5 class="card-title">Sent</h5>
          <p class="card-text">{{response.data_sent}}</p>
          <h5 class="card-title">Status</h5>
          <p class="card-text">{{response.status_code}}</p>
          <h5 class="card-title">Received</h5>
          <p class="card-text">{{response.data_received}}</p>
        </div>
      </div>
      {% endfor %}

  <!-- Jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

</body>

</html>