{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- my css -->
  <link rel="stylesheet" href="{% static 'taxreader/css/custom.css' %}">
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>

<!-- body -->

<body>
  <div class='container mb-5'>
    <div class='section shadow rounded mb-5 mt-3 bg-light'>
      <div class='row'>
        <div class='col text-center p-3'>
          <h1 class="display-3">Rotax</h1>
          <p>Rotax vă ajută să găsiți informații juridice despre orice companie.</p>
          <a href='{% url "index" %}' class='mr-3'>Pagina Principală</a>
          <a href='{% url "companies" %}' class='mr-3'>Vezi toate companiile</a>
          <a href='{% url "all_responses" %}'>Vezi răspunsuri brute</a>
        </div>
      </div>
    </div>
    <div class='section rounded shadow bg-white'>
      <div class='row'>
        <div class='offset-md-3 col-md-6 mt-5'>
          <form>
            <div class="form-group">
              <label>CUI</label>
              <input type="text" class="form-control" id="inputcui" placeholder="Introduceți CUI-ul companiei fără prefixul 'RO'">
            </div>
            <div class="form-group">
              <label>Data</label>
              <input type="text" class="form-control" id="inputdate" placeholder="Introduceți data de înregistrare (format:YYYY-MM-DD)">
            </div>
            <button type="submit" id='gobutton' class="btn btn-primary">Cercetează o companie</button>
          </form>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-6 offset-md-3' style='margin-top: 50px;'>
          <table id=full_table style='display:none;' class="table table-bordered">
            <thead class='thead-dark'>
              <tr>
                <th scope="col">Informație</th>
                <th scope="col">Descriere</th>
              </tr>
            </thead>
            <tbody id='info_table_body'>
            </tbody>
          </table>
          <p class='text-secondary mt-2' id='no_company_found' style='display:none'>Ne pare rău, nu am găsit nicio companie cu aceste informații.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  <!-- My scripts -->
  <script>

    var full_table = document.getElementById('full_table')
    var info_table = document.getElementById('info_table_body');
    var no_company_found = document.getElementById('no_company_found');

    $("#gobutton").click(function (e) {
      e.preventDefault();
      console.log('hello');
      var cui = document.getElementById('inputcui').value;
      var date = document.getElementById('inputdate').value;
      $.ajax({
        url: '{% url "get_tax_info" %}',
        data: {
          'cui': cui,
          'date': date,
        },
        success: function (result) {
          no_company_found.style.display = 'none';
          info_table.innerHTML = '';
          console.log(result);
          if (result != 'False') {
            full_table.style.display = 'table';
            var company_tax_info = result[0]['fields'];
            for (var key in company_tax_info) {
              var tr = document.createElement('tr');
              var td1 = document.createElement('td');
              var td2 = document.createElement('td');
              td1.innerHTML = key;
              td2.innerHTML = company_tax_info[key];
              console.log(key, company_tax_info[key]);
              tr.appendChild(td1);
              tr.appendChild(td2);
              info_table.appendChild(tr);
            }
          } else {
            full_table.style.display = 'none';
            no_company_found.style.display = 'block';
            console.log('nothing found')
          }
        }
      });
    });
  </script>

</body>

</html>